<div class="container">
  <div class="row">
    <div class="twelve columns">
      <p>
        This page is a bit of a work in progress.
        If there is any other information you would like to see on this page,
        feel free to email us suggestions at
        <%= mail_to "plantiapp@gmail.com", "plantiapp@gmail.com" ,subject: "Feature Suggestion:" %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <div id="user-info">
        <div><h3>Hello, <%= @user.name %>.</h3></div>
        <% if @plants.count === 1 %>
          <div>You currently have <%= @plants.count %> plant.</div>
        <% else %>
          <div>You currently have <%= @plants.count %> plants.</div>
        <% end %>
      </div>
    </div>

    <div class="six columns">
      <h2>Push Simple</h2>

      <p>
        <strong>Objective</strong>: Simple example of the Web Push API through Service Worker. Send notifications to users even when the page is not open.<br/>
        Eventually this will be used to trigger plant watering notifications.
      </p>

      <div id="push-simple-app" class="button">
        <a class="send-notification-button btn waves-effect waves-light">Send notification</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>);
    $('#push-simple-app .send-notification-button').on('click', (e) => {
      console.log('pushed!')
      navigator.serviceWorker.ready
        .then((serviceWorkerRegistration) => {
          serviceWorkerRegistration.pushManager.getSubscription()
            .then((subscription) => {
              $.post('/push', {
                subscription: subscription.toJSON(),
                message: 'You clicked a button!'
              });
            });
        });
    });
  </script>
</div>

<div hidden>
  <h4>Text Reminders:</h4>
  <p>If you would like to opt-in to text reminders, please enter your phone number here.</p>
  <p>You'll receive a text reminder once any of your plants are two days overdue for watering.</p>
  <p>If you would like to opt back out, delete your phone number and hit save.</p>
  <%= form_for :user, url: users_path, method: 'put', remote: true do |f| %>
    <%= f.label 'Phone number'%>
    <%= f.text_field :phone_number, class: 'form-control' %>
    <%= f.submit 'Save', class: 'button' %>
  <% end %>
</div>