<body class="welcome">
  <div class="container main-container">
    <div class="row">

      <div class="six columns">
        <div id="landing-summary">
          <div class="landing-header">Helping you, help plants.</div>
          <p>You don’t have to be blessed with a green thumb to keep houseplants alive and thriving. Let Plantia keep track of your houseplants and their watering schedules.</p>
        </div>
      </div>

      <div class="five columns">
        <div id="signup-usermsg">
          <h2>Forgot your password?</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'u-full-width' %>
            </div>

            <%= f.submit "Send reset instructions", class: 'button' %>
          <% end %>

          <%- if controller_name != 'sessions' %>
            <%= link_to "Back", :back, class: "pull-left" %><br />
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</body>