<body class="welcome">
<div class="container main-container">
  <div class="row">
    <div class="six columns">
        <div id="landing-summary">
          <div class="landing-header">Helping you, help plants.</div>
          <p>You don’t have to be blessed with a green thumb to keep houseplants alive and thriving. Let Plantia keep track of your houseplants and their watering schedules.</p>
        </div>
    </div>

    <div class="one column">
    <p></p>
    </div>

    <div class="five columns" id="signup-usermsg">
      <% if !current_user %>
        <h2>Signup!</h2>
        <%= form_for @user, url: users_path do |f| %>
          <% if @user.errors.any? %>
            <div>
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% @user.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "u-full-width" %>
          <%= f.label :email %>
          <%= f.text_field :email, class: "u-full-width" %>
          <%= f.label :password %>
          <%= f.password_field :password, class: "u-full-width" %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "u-full-width" %>
          <%= f.submit "Submit", class: "button" %>
        <% end %>
      <% else %>
          <div id="landing-welcome">
            <div class="landing-header">Welcome, <%= current_user.name %>.</div>
            <p>
              Head to your <%= link_to 'Dashboard', dashboard_index_path %> to take a look at the status of your plants.
              Or pop on over to <%= link_to 'My Plants', plants_path %> to view a list of all your current plants.
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>
