<div class="container main-container">
  <div class="row">
    <div class="six columns">
      <aside><div id="landing-summary">
     <h3><strong><em>Let us help you, help plants.</em></strong></h3>
    <p><em>We are plant lovers just like you! We want you to know that you don’t have to be blessed with a green thumb in order to keep houseplants alive and thriving. Let Plantia keep track of your water schedule and notify you when your green babies need some love.</em></p>


</div></aside>
    </div>
    <div class="six columns">
      <% if !current_user %>
        <h2>Signup!</h2>

        <%= form_for :user, url: '/users' do |f| %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "u-full-width" %>
          <%= f.label :email %>
          <%= f.text_field :email, class: "u-full-width" %>
          <%= f.label :password %>
          <%= f.password_field :password, class: "u-full-width" %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "u-full-width" %>
          <%= f.submit "Submit", class: "button" %>
        <% end %>
      <% else %>
        <aside>
          <div id="welcome-message">Welcome, <%= current_user.name %></div>
          <p>
            Head to your <%= link_to 'dashboard', dashboard_index_path %> to take a look at the status of your plants.
            Or pop on over to <%= link_to 'All Plants', plants_path %> to view a list of all your current plants.
          </p>
        </aside>
      <% end %>
    </div>
  </div>
</div>
