<tr>
  <td>
    <%= button_to 'Water', water_events_path, method: 'post', remote: true, params: {water_event: {plant_id: plant.id}} %>
  </td>
  <td>
    <%= link_to plant do %>
      <h5><%= plant.nickname %></h5>
    <% end %>
    <p><em><%= plant.common_name %></em></p>
  <td>
    <%= plant.light %>
  </td>
  <td>
    Water every <%= plant.water_freq %> days
    <p><%= plant.days_till_water %> days till next water
  </td>
  <td>
    <%= button_to 'Destroy', plant_path(plant.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>