<tr>
  <td>
    <%= link_to plant do %>
      <h5><%= plant.nickname %></h5>
    <% end %>
    <p><em><%= plant.common_name %></em></p>
  <td>
    <%= plant.light %>
  </td>
  <td>
    Water every <%= plant.water_freq %> days
    <p><%= plant.days_till_water %> days till next water
  </td>
  <td>
    <%= link_to fa_icon('trash'), plant_path(plant.id), class: 'button', method: :delete, data: { confirm: "Wait, are you sure this plant is dead?" } %>
  </td>
</tr>
