<div class="row">
  <tr>
    <td>
      <%= button_to 'Water', [:water, :id => plant.id ] %>
      <%= button_to 'Destroy', plant_path(plant.id), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to plant do %>
        <h5><%= plant.nickname %></h5>
      <% end %>
      <p><%= plant.common_name %></p>
    </td>
    <td>
      <%= plant.light %>
    </td>
    <td>
      <%= plant.water_freq %>
    </td>
  </tr>
</div>
