<tr>
  <td>
    <%= button_to 'Water', water_events_path, method: 'post', remote: true, params: {water_event: {plant_id: plant.id}} %>
    <div class="message<%= plant.id %>"></div>
  </td>
  <td>
    <%= link_to plant do %>
      <h5><%= plant.nickname %></h5>
    <% end %>
    <p><em><%= plant.common_name %></em></p>
  <td>
    <%= plant.light %>
  </td>
  <td>
    Water every <%= plant.water_freq %> days
    <p><%= plant.days_till_water %> days till next water
  </td>
  <td>
    <%= link_to fa_icon('trash'), plant_path(plant.id), class: 'button', method: :delete, data: { confirm: "Wait /n Are you sure you want to delete this plant forever?" } %>
  </td>
</tr>
