<div class="container">
  <div class="row">
    <div class="six columns">
      <header class="page-header">
        <h1>Edit Plant</h1>
      </header>
    </div>

  <div class="row">                
    <div class="six columns">
      <%= form_for :plant, url: plant_path(@plant), method: :patch do |f| %>

      <% if @plant.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:
          </h2>
          <ul>
            <% @plant.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label 'Plant Name' %>
      <%= f.text_field :nickname, class: 'form-control' %>
    </div>

    <div class="six columns">
      <%= f.label 'Plant Type' %>
      <%= f.text_field :common_name, class: 'form-control' %>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="six columns">
      <%= f.label 'Light requirements' %>
      <%= f.select :light, ['Direct','Indirect', 'Low Light', 'Shady'], class: 'u-full-width' %>
    </div>
    <div class="six columns" id="water_every">
      <%= f.label 'Water Requirements' %>
      Water every <%= f.number_field :water_freq, class: 'form-control', placeholder: "?"  %> days
    </div>
  </div>

  <br>
  <br>

  <%= f.submit 'Save Edits', class: 'button' %>
  <%= link_to 'Cancel', @plant, class: 'button' %>
  <% end %>
</div>
