<div class="container">

  <h1>My Plants</h1>
  <div class="row" id="action-buttons">
    <div class="three columns">
      <%= link_to '+ New Plant', new_plant_path, class: 'button' %>
    </div>
    <div class="four columns">
      <%= form_for :user, url: users_path, method: 'put', remote: true do |f| %>
        <%= f.label 'Phone number'%>
        <%= f.text_field :phone_number, class: 'form-control' %>
        <%= f.submit 'Submit', class: 'button' %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default plants">

    <table class="u-full-width">
        <tr>
          <th>Plant</th>
          <th>Light Needs</th>
          <th>Water Needs</th>
          <th>Remove</th>
        </tr>
      <tbody>
          <%= render @plants %>
      </tbody>
    </table>

  </div>

</div>
