<div class="container">
  <div class="six columns">
    <header class="page-header">
      <h1>New Plant</h1>
       <%= link_to 'Back', :plants, class: 'button' %>
    </header>
  </div>  


  <div class="row">
    <div class="six columns">
      <%= form_for @plant, url: plants_path do |f| %>

        <% if f.object.errors.any? %>
          <div>
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% f.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="six columns">
            <%= f.label 'Plant Name' %>
            <%= f.text_field :nickname, class: 'form-control' %>
          </div>

          <div class="six columns">
            <%= f.label 'Plant Type' %>
            <%= f.text_field :common_name, class: 'form-control' %>
          </div>
        </div>

        <br>
        <br>

        <div class="row">
          <div class="six columns">
            <%= f.label 'Light requirments' %>
            <%= f.select :light, ['Direct','Indirect', 'Low Light', 'Shady'], class: 'form-control' %>
          </div>

          <div class="six columns" id="water_every">
            <%= f.label 'Water requirments' %>
            Water every <%= f.number_field :water_freq, class: 'form-control', placeholder: "?"  %> days
          </div>
        </div>

        <br>
        <br>
        
        <%= f.submit 'Create Plant', class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
