<div class="container" id="plant_form_page">
  <div class="row">
    <div class="six columns">
      <h1>Add a New Plant</h1>
  </div>
    <div class="six columns u-pull-right">
      <%= link_to 'Back', :plants, class: 'button' %>
    </div>
  </div>

  <%= form_for @plant, url: plants_path do |f| %>

    <% if f.object.errors.any? %>
      <div>
        The following errors prevented saving:
        <ul>
          <% f.object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="plant_form">
      <div class="row">
        <div class="five columns">
          <%= f.label 'Plant Name' %>
          <%= f.text_field :nickname, class: 'form-control' %>
        </div>
        <div class="five columns">
          <%= f.label 'Plant Type' %>
          <%= f.text_field :common_name, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="five columns">
          <%= f.label 'Light Needs' %>
          <%= f.select :light, ['Direct','Indirect', 'Low Light', 'Shady'], class: 'form-control' %>
        </div>
        <div class="five columns" id="water_freq">
          <%= f.label 'Water Needs' %>
          Water every<%= f.number_field :water_freq, class: 'form-control', placeholder: "?"  %> days
        </div>
      </div>
      <%= f.submit 'Create Plant', class:'button' %>
    </div>
  <% end %>
</div>
