<div class="container">
  <div class="six columns">
    <header class="page-header">
      <h1>New Plant</h1>
       <%= link_to 'Back', :plants, class: 'button' %>
    </header>
  </div>  


  <div class="row">
    <div class="six columns">
        <%= form_for @plant, url: plants_path do |form| %>

          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

    <div class="row">
      <div class="six columns">
        <%= form.label 'Plant Name' %>
        <%= form.text_field :nickname, class: 'form-control' %>
      </div>

      <div class="six columns">
        <%= form.label 'Plant Type' %>
        <%= form.text_field :common_name, class: 'form-control' %>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="six columns">
        <%= form.label 'Light requirments' %>
        <%= form.select :light, ['Direct','Indirect', 'Low Light', 'Shady'], class: 'form-control' %>
      </div>

      <div class="six columns" id="water_every">
        <%= form.label 'Water requirments' %>
        Water every <%= form.number_field :water_freq, class: 'form-control', placeholder: "?"  %> days
      </div>
    </div>

    <br>
    <br>
            <%= form.submit 'Create Plant', class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>

</div>
