<div id="plantshowpage" class="container">

  <div class="row">
  <!-- Plant info -->
    <div id="plantinfo" class="six columns">
        <h1>
          <strong><%= @plant.nickname%></strong>
        </h1>
        <h5>
          <em><%= @plant.common_name%></em>
        </h5>
      <table>
        <thead>
          <tr>
            <th>Light Requirements</th>
            <th>Water Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @plant.light%></td>
            <td>Every <%= @plant.water_freq %> days</td>
          </tr>
        </tbody>
      </table>
        <%= link_to 'Edit Plant' , edit_plant_path(@plant), class: 'button' %>
    </div>
  <!-- END plantinfo -->

  <!-- Plantlog form -->
    <div class= "six columns">
      <h3>Plant Log</h3>
      <h5>Create a new entry</h5>
      <%= render 'plantlogs/form' %>
    </div>
  </div>
<!-- END Plantlog form -->


  <div class="row">
    <!-- WaterEvents -->
    <div class= "six columns">
      <h3>Watering History</h3>
      <div id="water_historybox">
        <div id="water_events">
          <% @plant.water_events.order("water_date desc").each do |e| %>
          <div>
            <time class="timestring"><%= e.water_date %></time>
            <%= link_to fa_icon('trash'), water_event_path(e.id), class: 'button', method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--  ENDWatervents -->

    <!-- Plantlog history -->
    <div class= "six columns">
      <h3>Log History </h3>
      <%= render @plant.plantlogs %>
    </div>
    <!-- ENDPlantlog History -->

  </div>

</div>
<!-- script to render water event times according to client's system time -->

<script>
(function() {
  'use strict';

  $(document).ready(function() {
    $('.timestring').each(function() {
      this.textContent = moment(this.textContent, 'YYYY-MM-DD hh:mm:ss ZZ').format('lll');
    });
  });
})();
</script>
