<div class="container">

  <div class="row">
    <div class="u-pull-right">
      <%= link_to "Back", :back %> | <%= link_to 'Edit', edit_plant_path(@plant) %>
    </div>


    <div class="four columns">
      <h1>
        <strong><%= @plant.nickname%></strong>
      </h1>
      <h5>
        <em><%= @plant.common_name%></em>
      </h5>
    </div>
  </div>


  <div class="row">

    <div class="four columns">
    </div>

    <div class="four columns">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Light Requirements</th>
            <th>Water</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @plant.light%></td>
            <td>Every <%= @plant.water_freq %> days</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <div>Water Events</div>
      <% @plant.water_events.each do |e| %>
      <div>
        <time class="timestring"><%= e.water_date %></time>
      </div>
      <% end %>
    </div>
    <div class="six columns">

      <form>
        <label for="plant-log">Plant Log </label>
        <em><small><textarea class="u-full-width" placeholder= "E.g. 03.04.2015 <%= @plant.nickname%> experienced ideal conditions such as ..." id="exampleMessage"></textarea></em></small>
      </form>

    </div>
  </div>
</div>
<script>
(function() {
  'use strict';

  $(document).ready(function() {
    $('.timestring').each(function() {
      this.textContent = moment(this.textContent, 'YYYY-MM-DD hh:mm:ss ZZ').format('lll');
    });
  });
})();
</script>
