<%= form_for [@plant, @plantlog] do |f| %>
  <div id="date_title">
    <%= f.label "Date" %>
    <%= f.date_field :logtime, :value => Time.current.strftime('%Y-%m-%d') %>
    <%= f.label "Title" %>
    <%= f.text_field :title %>
  </div>
  <div id="logtext_label">
    <%= f.label "Entry" %>
  </div>
    <%= f.text_area :logtext %>
  <div id="logform_submit">
    <%= f.submit 'Create Plantlog', class: 'button'%>
  </div>
<% end %>