<%= form_for [@plant, @plantlog] do |log| %>
    <div id="date-title">
      <%= log.label "Date" %>
      <%= log.date_field :logtime %>

      <%= log.label "Title" %>
      <%= log.text_field :title %>
    </div>
    <div id="logtext-label">
      <%= log.label "Entry" %>
    </div>
      <%= log.text_area :logtext %>
    <div ID="logform-submit">
      <%= log.submit 'Create Plantlog' %>
    </div>
<% end %>