<nav id="navbar">
  <span id="brand">
    <a href="/">Plantia</a>
  </span>
  <span id="URLS">
    <%= link_to 'dashboard', dashboard_index_url %>
  </span>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <% if current_user %>
        <%= current_user.name %>
        <% else %>
        Login
        <% end %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      <% if current_user %>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li>
        <%= form_tag '/login' do %>
          Email: <%= text_field_tag :email %>
          Password: <%= password_field_tag :password %>
          <%= submit_tag "Submit" %>
          <% end %>
      </li>
      <% end %>
      </ul>
    </div>
  </span>
</nav>

