<nav id="navbar">
  <span class="row">
    <div class="six columns">
      <div id="brand">
        <a href="/"><img id="logo" src="/Plantialogo.png">Plantia</a>
      </div>
      <% if current_user %>
      <span id="URLS">
        <%= link_to 'Dashboard', dashboard_index_url %>
        <%= link_to 'My Plants', plants_url %>
      </span>
      <% end %>
    </div>
    <div class="six columns">

      <% if current_user %>
        <div>
          <span class="userfunc u-pull-right"><%= current_user.name %> | <%= link_to "Logout", logout_path %></span>
        </div>
      <% else %>
      <span class="login u-pull-right">
        <%= form_for :sessions, url: '/login' do |f| %>
          <%= f.text_field :email, placeholder: "email", class: "input" %>
          <%= f.password_field :password, placeholder: "password", class: "input" %>
          <%= f.submit "Login", class: 'button-default' %>
        <% end %>
      </span>
      <% end %>
    </div>

  </span>

</nav>
