<!DOCTYPE html>
<html>
  <head>
    <title>Plantia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#5AC976">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/momentjs/2.17.0/moment-with-locales.min.js" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
